.swiper-container {
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 60rem;
	margin: 7rem 0;
}

.slide-container {
	position: relative;
	overflow: hidden;
	display: flex;
}

/* Scrollbar inside */

.swiper-slide::-webkit-scrollbar {
	display: none;
}
iframe {
	position: inherit;
	z-index: -10;
	padding: 0;
	margin: 0;
	height: 600px;
	width: 100%;
}

.swiper-slide > * {
	overflow: hidden;
	border-radius: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide-active:hover {
	transition: 0.2s ease-in-out;
	overflow: visible scroll;
}

.slideImg {
	height: 810px;
	border-radius: 2em;
}

.swiper-slide,
.swiper-slide-prev,
.swiper-slide-next {
	overflow: hidden;
}

/* Shadows */

.swiper-slide-shadow-left,
.swiper-slide-shadow-coverflow,
.swiper-slide-shadow-right,
.swiper-slide-shadow-coverflow {
	display: none;
}

.card-skills {
	text-align: center;
}

/* Buttons */

.slide-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: -90px;
	z-index: 10;
	position: absolute;
	width: 27vw;
}

.btn-swiper {
	border-radius: 50%;
	padding: 0;
	width: 2em;
	height: 2em;
}

.btn-img {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	position: inherit;
}

.next {
	transition: 0.3s ease;
	border-radius: 50%;
}

.prev {
	transition: 0.3s ease;
	border-radius: 50%;
	transform: rotate(180deg);
}

.prev:active {
	transform: scale(120%);
	fill: white;
}
.next:active {
	transform: scale(120%) rotate(180deg);
	fill: white;
}

@media (max-width: 766px) {
	.slide-container {
		height: 100%;
	}
}
