.ticker {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 10%;
	align-items: center;
	justify-content: center;
	background-color: var(--page-bg);

}

.ticker-wrapper {
	width: 100%;
	text-wrap: nowrap;
	flex-direction: row;
	display: flex;
	right: 0;
	justify-content: space-between;
}

.ticker-item {
	color: var(--text-color);
	font-size: 44px;
	font-weight: 700;
	white-space: nowrap;
	flex-shrink: 0;
	display: flex;

}

.letter-hover {
	color: blue;
}

@media (max-width: 568px) {
	.ticker {
		bottom: 15px;
	}
	.ticker-item {
		font-size: 1rem;
		font-weight: 500;
		padding: 0 8px;
	}
}
