/** Main Experience*/

.main-experience {
	transition: 1s ease;

	margin: 0 auto;
	width: 60vw;
	padding: 10rem 0;
	display: flex;
	height: 100%;
}

.main-experience__title {
	flex-direction: column;
	font-size: 26px;
	display: flex;
	gap: 15.4em;
	line-height: 2em;
}

.svg-container {
	left: 0;
	position: absolute;
	height: 100%;
	display: flex;
	width: 1.3em;
	top: 10px;
}

.experience-container p {
	margin-left: 3em;
	display: flex;
}

/* Определение ключевых кадров для анимации масштабирования */
@keyframes scaleUp {
	from {
		transform: scale(0.7);
	}
	to {
		opacity: 1;
		transform: scale(1.1);
	}
}

@keyframes scaleDown {
	from {
		transform: scale(1.1);
	}
	to {
		opacity: 0;
		transform: scale(0.7);
	}
}

/* Применение анимации к элементу */
.animated-scale-up {
	animation: scaleUp 1s ease-in-out forwards;
}

.animated-scale-down {
	animation: scaleDown 1s ease-in-out forwards;
}

@media (max-width: 768px) {
	.main-experience {
		padding: 1rem;
	}
	.experience-container {
		font-size: 16px;
		line-height: 1.4em;
	}
}
