/** Main Experience*/
.tooltip {
	pointer-events: none !important;
	position: fixed;
	display: flex;

	padding: 0;
	border-radius: 4px;
	height: 100px;
	width: 100px;
	border-radius: 50%;

	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 19px;
	letter-spacing: 9px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

.main-experience {
	overflow-y: scroll;
	height: 100vh;
	-webkit-overflow-scrolling: touch;
	overflow-y: visible;
	position: relative;
	height: unset;
	overflow-x: hidden;
	margin: 0;
}

.main-experienceWrapper {
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.experience-container {
	cursor: none;
	color: var(--black);
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100vw !important;
	&:hover {
		background-color: rgb(57, 57, 57);
	}
}

.experience-text {
	font-size: 40px;
	color: var(--text-color);
	display: flex;

	&:hover {
		color: var(--accent);
	}
}

@media (max-width: 768px) {
	.experience-text {
		font-size: 16px;
		line-height: 1.4em;
	}
}
