/** Main Experience*/

.main-experience {
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-y: visible;
	position: relative;
	height: unset;
	overflow-x: hidden;
	margin: 0;
}

.main-experienceWrapper {
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.experience-container {
	color: var(--black);
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100vw !important;
}

.experience-text {
	font-size: 40px;
	color: var(--text-color);
	display: flex;
}

@media (max-width: 768px) {
	.experience-text {
		font-size: 16px;
		line-height: 1.4em;
	}
}
