.nav {
	font-family: 'Sixtyfour' sans-serif;
	padding: 20px 0;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
}

.nav-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 3em;
	justify-content: space-between;
}
.mobile-nav-row {
	display: none;
}

.logo {
	margin-right: 0 auto;
	color: var(--nav-text);
	font-size: 1.4em;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	row-gap: 10px;
	align-items: center;
	column-gap: calc(var(--index) * 4);
	font-size: 16px;
	font-weight: 500;
}

.nav-list__link {
	color: var(--nav-text);
	transition: 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.3;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
	border-radius: 2px;
}

@media (max-width: 890px) {
	.nav-row {
		display: grid;
		grid-template-rows: 1fr 1fr;
		align-items: center;
		justify-content: center;
	}

	.logo {
		margin: 0 auto;
		order: 0;
	}
}

@media (max-width: 568px) {
	.mobile-menu {
		display: flex;
	}
	.nav-row {
		display: flex;
	}
	.mobile-nav-row {
		display: contents;
		align-items: center;
	}
	.nav-list {
		display: none;
	}
}
