/* Nav */

.nav {
	font-family: 'Sixtyfour' sans-serif;
	padding: 20px 0;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
}

.nav-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: 0 auto;
	color: var(--nav-text);
	font-size: 1.4em;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 4.6em;
	font-size: 16px;
	font-weight: 500;
}

.nav-list__link {
	color: var(--nav-text);
	transition: 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.3;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
	border-radius: 2px;
}

@media (max-width: 756px) {
	.nav-row {
		position: relative;
		display: flex;
		align-items: center;
	}

	.logo {
		margin: 0 auto;
	}

	.nav-list {
		margin: 0 auto;
		max-width: 90vw;
	}
	.dark-mode-btn {
		float: right;
		margin-right: 0;
		position: inherit;
	}
}

@media (max-width: 446px) {
	.nav-row {
		row-gap: 4em;
		display: flex;
	}
	.nav-list {
		justify-content: space-between;
		font-size: 1em;
		display: flex;
		column-gap: 1em;
		min-width: 90vw;
	}
	.dark-mode-btn {
		position: absolute;
		right: 0;
		float: right;
	}
}
