.btn-scroll__container {
	transition: 2s ease;
	opacity: 0;
	right: -16vw;
	position: fixed;
	bottom: 5vh;
}

.btn-scroll {
	background-repeat: no-repeat;
	background-image: url(./../../img//icons//arrow-circle.svg);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0.97;
	transform: rotate(-90deg);
	transition: 1s ease;
}

.btn-scroll:hover {
	transform: scale(110%) rotate(-90deg);
}



.btnVisible {
	padding: 0;
	margin: 0;
	z-index: 100;
	transition: 2s ease;
	opacity: 1;
	right: 3vw;
}

@media (max-width: 568px) {
	.btn-scroll__visible {
		bottom: calc(var(--index) * 5);
		right: calc(var(--index) * 5);
	}
	.btn-scroll {
		height: calc(var(--index) * 4);
		width: calc(var(--index) * 4);
	}
}
