.ticker {
	position: absolute;
	overflow: hidden;
	bottom: 10%;
	height: 15%;
	width: 100%;
	background-color: var(--page-bg);
	align-items: center;
	justify-content: center;
	display: flex;
}

.ticker-wrapper {
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 90%;
	text-wrap: nowrap;
	display: flex;
	flex-direction: row;
	right: 0;
	justify-content: space-between;
}

.ticker-item {
	position: inherit;
	display: flex;
	z-index: 10;
	font-size: 44px;
	font-weight: 700;
	flex-shrink: 0;
}

.letter-hover {
	transition: all 0.2s ease-in-out;
	position: inherit;
	transition: 0.3s ease;
	color: blue;
}

@media (max-width: 568px) {
	.ticker {
		bottom: 15%;
	}
	.ticker-item {
		font-size: 1rem;
		font-weight: 500;
		padding: 0 8px;
	}
}
